In [2]:
import nltk as nt

In [5]:
corpus = """Hello! Good evening. My name is Anand Mansabdar.
I am a Computer Science 4th year student in Hyderabad, Telangana.
"""
print(corpus)

Hello! Good evening. My name is Anand Mansabdar.
I am a Computer Science 4th year student in Hyderabad, Telangana.

In [ ]:
# Tokens - from senetence to a paragraph
from nltk.tokenize import sent_tokenize

documents = sent_tokenize(corpus)

In [12]:
print(type(documents)) # list
documents

<class 'list'>

['Hello!',
 'Good evening.',
 'My name is Anand Mansabdar.',
 'I am a Computer Science 4th year student in Hyderabad, Telangana.']

In [13]:
for document in documents:
  print(document)

Hello!
Good evening.
My name is Anand Mansabdar.
I am a Computer Science 4th year student in Hyderabad, Telangana.

In [15]:
# Tokenization - paragraph to words and sentence to words
from nltk.tokenize import word_tokenize

tokens = word_tokenize(corpus)
tokens # each word in the corpus is a seperate token (includes duplicates)

['Hello',
 '!',
 'Good',
 'evening',
 '.',
 'My',
 'name',
 'is',
 'Anand',
 'Mansabdar',
 '.',
 'I',
 'am',
 'a',
 'Computer',
 'Science',
 '4th',
 'year',
 'student',
 'in',
 'Hyderabad',
 ',',
 'Telangana',
 '.']

In [18]:
for token in documents:
  print(word_tokenize(token))

['Hello', '!']
['Good', 'evening', '.']
['My', 'name', 'is', 'Anand', 'Mansabdar', '.']
['I', 'am', 'a', 'Computer', 'Science', '4th', 'year', 'student', 'in', 'Hyderabad', ',', 'Telangana', '.']

In [20]:
from nltk.tokenize import wordpunct_tokenize
print(wordpunct_tokenize(corpus)) # this function treats the punctuations and other garmmatical words as seperate tokens

['Hello', '!', 'Good', 'evening', '.', 'My', 'name', 'is', 'Anand', 'Mansabdar', '.', 'I', 'am', 'a', 'Computer', 'Science', '4th', 'year', 'student', 'in', 'Hyderabad', ',', 'Telangana', '.']

In [22]:
from nltk.tokenize import TreebankWordTokenizer
tokenizer = TreebankWordTokenizer() # the fullstop (.) will not be treated as a seperate token except the last full stop - to indicate the end of the sentence
tokenizer.tokenize(corpus)

['Hello',
 '!',
 'Good',
 'evening.',
 'My',
 'name',
 'is',
 'Anand',
 'Mansabdar.',
 'I',
 'am',
 'a',
 'Computer',
 'Science',
 '4th',
 'year',
 'student',
 'in',
 'Hyderabad',
 ',',
 'Telangana',
 '.']